{% extends "layout.html" %}
{% block body %}

<div class="status">
  <div id="db_status">{{ db_status|safe }}</div>
</div>

<div id="dropzone" style="padding: 0px;">
  <form action="/" class="dropzone dz-clickable">
	<div style="padding:0px 0px 0px 5px;"><a href="/" style="font-size:75%;">Clear</a></div>
    <div class="dz-message">Drop multiple files here or click to upload.</div>
  </form>
</div>

<div class="listings">
  <div id="tabular">{{ table|safe }}</div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        namespace = "/listings";
        var socket = io.connect(location.protocol + "//" + document.domain +
                                ":" +location.port + namespace);
        socket.on("listings_changed", function(msg) {
            $("#tabular").empty();
            $("#tabular").append(msg.table);
            $("#db_status").empty();
            $("#db_status").append(msg.db_status);
        });
    });
</script>

{% endblock %}
